body{
    background-color: rgb(41, 1, 1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100px;
    /* color: rgb(150, 134, 134); */
    text-align: center;
    font-style: oblique;
    

background: size 10px;
background-blend-mode: color-dodge;
background-image: url(newpic2.jpg);
background-position: 40%; align-self: center;
background-size:initial;
}

#logo{
    
height: 100vh;


width: 100%;

font-style: oblique;
font-weight: bolder;
}
#vision{
font-size: 25px;
font-style: oblique;
font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: aliceblue;


}
#contact-us{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: start;
    font-size: 20px;
    background-color: rgb(0, 21, 3);
    color: rgb(187, 167, 141);
}
#btn{
    border: none;

 
background-color: rgb(199, 185, 185);
font-size: 30px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background: none;
cursor: pointer;
font-style: oblique;
font-weight: bold;
align-items: center;
padding-top: 10px;
padding-left: 3%;
}
#btn a{
    color:rgb(255, 255, 255) ;
    text-decoration: none;
}
#btn a:hover{
    color: rgb(255, 0, 149);
    transition: .3s;
}
#btn2{
    background-color: rgb(51, 50, 50);
    color: rgb(237, 220, 220);
    font-style: oblique;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 30px;
    padding: 10px 25px;
    transition: transform .4s;
    font-size: medium;
}
#btn2:hover{
transform: scale(1.2);
}

ul{
    font-size: large;
    background-color: none;
}
ul a{
    color: black;
}
ul a:hover{
    color: darkgrey;
    transition: .4s;
}
footer{
    font-size: 30px;
}
#initial-page{
    background-color: transparent;
    /* box-shadow: 10px 10px rgb(73, 197, 235); */
}
#last-page{
    /* background-color: rgb(122, 10, 0); */
    /* background-image: linear-gradient(rgb(165, 24, 0), rgb(60, 3, 0)); */
    box-shadow: inset;
    font-size: 30px;
   text-align: left;
   background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,1));
}
h5{
    font-size: 20px;
    font-style: oblique;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(181, 183, 184);
    font-weight: none;

}